Xavier.Integration.Tests/Service References/CompositionService/CompositionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompositionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:17000/Services/CompositionService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:17000/Services/CompositionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:17000/Services/CompositionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/W2P.Xavier.Composition" />
      <xsd:import schemaLocation="http://localhost:17000/Services/CompositionService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:17000/Services/CompositionService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompositionService_CreatePreview_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePreview" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_CreatePreview_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePreviewResponse" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_CreatePreviewResult_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePreviewResult" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_CreatePreviewResult_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePreviewResultResponse" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_GetPreviewFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviewFile" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_GetPreviewFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviewFileResponse" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_CreateProductionArtwork_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductionArtwork" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_CreateProductionArtwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductionArtworkResponse" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_GetProductionArtwork_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductionArtwork" />
  </wsdl:message>
  <wsdl:message name="ICompositionService_GetProductionArtwork_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductionArtworkResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompositionService">
    <wsdl:operation name="CreatePreview">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompositionService/CreatePreview" message="tns:ICompositionService_CreatePreview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompositionService/CreatePreviewResponse" message="tns:ICompositionService_CreatePreview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePreviewResult">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompositionService/CreatePreviewResult" message="tns:ICompositionService_CreatePreviewResult_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompositionService/CreatePreviewResultResponse" message="tns:ICompositionService_CreatePreviewResult_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreviewFile">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompositionService/GetPreviewFile" message="tns:ICompositionService_GetPreviewFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompositionService/GetPreviewFileResponse" message="tns:ICompositionService_GetPreviewFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductionArtwork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompositionService/CreateProductionArtwork" message="tns:ICompositionService_CreateProductionArtwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompositionService/CreateProductionArtworkResponse" message="tns:ICompositionService_CreateProductionArtwork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductionArtwork">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompositionService/GetProductionArtwork" message="tns:ICompositionService_GetProductionArtwork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompositionService/GetProductionArtworkResponse" message="tns:ICompositionService_GetProductionArtwork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CompositionService" />
</wsdl:definitions>