Xavier.Integration.Tests/Service References/CompositionService/CompositionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:17000/Services/CompositionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/W2P.Xavier.Composition" />
  <xs:import schemaLocation="http://localhost:17000/Services/CompositionService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="CreatePreview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/W2P.Xavier.Composition" minOccurs="0" name="previewRequest" nillable="true" type="q1:PreviewRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePreviewResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreviewResult">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/W2P.Xavier.Composition" minOccurs="0" name="previewRequest" nillable="true" type="q2:PreviewRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreviewResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/W2P.Xavier.Composition" minOccurs="0" name="CreatePreviewResultResult" nillable="true" type="q3:PreviewResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreviewFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreviewFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/Message" name="GetPreviewFileResult" type="q4:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductionArtwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/W2P.Xavier.Composition" minOccurs="0" name="previewRequest" nillable="true" type="q5:PreviewRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductionArtworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateProductionArtworkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionArtwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jobId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductionArtworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/Message" name="GetProductionArtworkResult" type="q6:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>